@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  color: #fbf5f3;
  font-family: "Varela Round", sans-serif;
  margin: 0;
}

.bg-image {
  background-image: url("/Images/bg.jpg");
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-container {
  background-color: #ffb800;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  z-index: 3;
  border-radius: 0 0 10px 10px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: auto 40px;
}

.nav-link {
  font-size: 16px;
  color: #fbf5f3;
  margin: auto 20px;
}

.nav-link a {
  text-decoration: none;
  color: #fbf5f3;
  font-weight: 600;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
}

.landing-container {
  width: 100vw;
  height: 75vh;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
}

.landing-heading {
  margin-top: 150px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffb800;
  text-align: center;
}

.landing-description {
  font-size: 14px;
  text-align: center;
  width: 45%;
  margin: 5px auto;
  color: #fbf5f3;
}

.landing-disclaimer {
  text-align: center;
  font-size: 11px;
  color: #ffb800;
  font-weight: 400;
}

.generate-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}

.generate-form-column {
  display: flex;
  width: 50%;
  /* padding: 5px; */
  flex-direction: column;
  justify-content: center;
  /* align-content: flex-start; */
}

.form-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 5px auto;
  color: #ffb800;
}

.form-description {
  font-size: 12px;
  text-align: center;

  margin: 0px auto;
  color: #fbf5f3;
}

.form-input {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
}

.form-input label {
  color: #ffb800;
  font-size: 13px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.form-submit-button {
  background-color: #ffb800;
  font-size: 14px;
  color: #fbf5f3;
  border-radius: 10px;
  border: 0;
  font-weight: 600;
  justify-self: center;
  padding: 10px 20px;
  float: right;
}

.generate-results-column {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  /* padding: 5px; */
  justify-content: center;
  align-content: center;
}

.generate-results-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.form-results-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffb800;
  width: 100%;
}

.column-padding {
  padding: 0 20px;
}
