@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  color: #fbf5f3;
  font-family: "Varela Round", sans-serif;
  margin: 0;
}

.bg-image {
  background-image: url("/Images/bg.jpg");
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-container {
  background-color: #ffb800;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  z-index: 3;
  border-radius: 0 0 10px 10px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: auto 40px;
}

.nav-link {
  font-size: 16px;
  color: #fbf5f3;
  margin: auto 20px;
}

.nav-link a {
  text-decoration: none;
  color: #fbf5f3;
  font-weight: 600;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
}

.landing-container {
  width: 100vw;
  height: 75vh;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
}

.landing-heading {
  margin-top: 150px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffb800;
  text-align: center;
}

.landing-description {
  font-size: 14px;
  text-align: center;
  width: 45%;
  margin: 5px auto;
  color: #fbf5f3;
}

.landing-disclaimer {
  text-align: center;
  font-size: 11px;
  color: #ffb800;
  font-weight: 400;
}
